.contact-area-box {
    background-color: $color-secondary;
}

#contact-form {
    background-color: #efefef;
    margin: 10px 4px;
    border-radius: 0.5%;
}

.form-box {
    background-color: #efefef;
    border: solid 1px #efefef;
}

.findme-box {
    background-color: $color-secondary;
}

.image-find {
    height: 200px;
    max-width: 250px;
    border-right: solid 1px #eeeeee;
    @include for-tablet-portrait-up {
        height: 250px;
    }
}

.find-card {
    max-height: 250px;
}

.card-image {
    width: fit-content;
    height: fit-content;
}