.hero-banner-column {
    background-color: $color-secondary;
    margin: 8px 0;
    padding: 0;
}

.about-box-header {
    background-color: $color-primary;
    border-radius: 2%;
}

.about-box-body {
    background-color: $color-accent;
    padding: 0;
    border-radius: 1%;

    @include for-tablet-landscape-up {
        padding: 2.5%;
    }
}

.hero-box-img-container {
    margin: 8px 0;
    position: relative;
}

.hero-box-img-container > img {
    position: relative;
}

.hero-box-img-container > a {
    position: absolute;
    right: 0px;
    bottom: 10px;
    @include for-tablet-landscape-up {
        right: 40px;
    }
    
}