$vibrant-colors : (
    'primary' : #a8d1e7,
    'secondary' : #354883,
    'tertiary' : #24315e,
    'quaternary' : #f76d6d,
    'accent' : #f7e9a0
);


$color-scheme : $vibrant-colors;

$color-primary : map-get($color-scheme, 'primary');
$color-secondary : map-get($color-scheme, 'secondary');
$color-tertiary : map-get($color-scheme, 'tertiary');
$color-quaternary : map-get($color-scheme, 'quaternary');
$color-accent : map-get($color-scheme, 'accent');
